html, body{
    min-height: 100vh;
    min-width: 100vw;
    font-size: 8px;
}

.data-bar-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95%;


}

.data-bar{
    min-width: 2px;
    max-width: 20px;
    background-color: blue;
    border: 1px solid black;
    bottom: 0;
}